---
  import DefaultLayout from '../../layouts/defaultLayout.astro'
  import ListeArticles from '../../components/ListeArticles.vue'
  const articles = Astro.fetchContent('./*.md')
---
  <DefaultLayout titre="Développeur web, cartographe et plus" description="test">
  <div>
    <section class="px-4 py-24 mx-auto max-w-7xl">
    <h2 class="mb-2 text-3xl font-extrabold leading-tight text-gray-900">Le nid aux articles</h2>
    <p class="mb-7 text-lg text-gray-500">Un mélange de tout, qui comprends des critiques, des articles informatifs, des tutos, des tranches de vie ou simplement des découvertes sur le web</p>

    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
      <ListeArticles client:only articles={articles} />
    </div>
  </section>
  </div>
  </DefaultLayout>