---
  import DefaultLayout from '../layouts/defaultLayout.astro'
---
  <DefaultLayout>
    <div class="h-full w-full flex items-center justify-center flex-col">
      <img src="/assets/josh_rikishi.svg" width="60%" alt="Erreur 404">
      <h1 class="text-9xl font-black -mt-32 ">404</h1>
      <p class="prose">Page indisponible ou inexistante</p>
      <a href="/" class="text-blue-500 prose prose-lg">Retour à l'accueil</a>
    </div>
  </DefaultLayout>